.colAvatar,
.colSubAvatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgContainer {
    height: 20vh;
    margin: 5vh 0 2vh 0;
}

h1 {
    font-family: 'PlayfairDisplay';
    font-weight: 700;
    font-size: 31.25px;
}

.authorLocation {
    color: #4b3030;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
}

.follow {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 12px;
}

.followAmount {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 20px;
}

.name {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 16px;
    margin: 3vh 0 3vh 0;
}

.rowFavourites {
    margin: 0 0 5vh 0;
}

.genreAfrican,
.genreClassics,
.genreContemporary,
.genreFemLit,
.genreMemoirs,
.genrePsycThrillers,
.genreTrueCrime {
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: bold;
    border: none;
    color: white;
    padding: 8px 20px 8px 20px;
    margin: 5px;
    border-radius: 16px;
}

.genreAfrican {
    background-image: linear-gradient(to right, #53889D 0%, #BBD1D9 100%);
}

.genreClassics {
    background-image: linear-gradient(to right, #F3A492 0%, #D96F6E 100%);
}

.genreContemporary {
    background-image: linear-gradient(to right, #F2D05C 0%, #F3A492 100%);
}

.genreFemLit {
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: bold;
    border: none;
    background-image: linear-gradient(to right, #F2D05C 0%, #F3A492 100%);
    color: white;
    padding: 8px 20px 8px 20px;
    margin: 5px;
    border-radius: 16px;
}

.genreMemoirs {
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: bold;
    border: none;
    background-image: linear-gradient(to right, #BBD1D9 0%, #F2D05C 100%);
    color: white;
    padding: 8px 20px 8px 20px;
    margin: 5px;
    border-radius: 16px;
}

.genrePsycThrillers {
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: bold;
    border: none;
    background-image: linear-gradient(to right, #D96F6E 0%, #F2D05C 100%);
    color: white;
    padding: 8px 20px 8px 20px;
    margin: 5px;
    border-radius: 16px;
}

.genreTrueCrime {
    background-image: linear-gradient(to right, #53889D 0%, #BBD1D9 100%);
}

#scroller {
    margin: 0 auto;
    overflow: auto;
}

.scrollbox {
    float: left;
    margin-right: -30000px;
}

.scrollbox div {
    float: left;
    margin: 0 5vw 0 0;
}

.bookScroll {
    font-weight: bold;
    font-family: 'PlayfairDisplay';
    font-size: 16px;
}

.AuthorName {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 12px;
}

.pageLink {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 12px;
    text-decoration: underline;
    color: #D96F6E;
}

.colPageLink {
    display: flex;
    justify-content: center;
}