.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: normal;
}

.card {
    display: inline-block;
}
/*Для скроллинга элемента*/
.rowName { /*стили шрифта для заголовков разделов h3*/
    font-family: "PlayfairDisplay";
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

h4 { /*стили шрифта для заголовков h4*/
    font-family: "PlayfairDisplay";
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}
p {/*стили шрифта для текста под заголовком*/
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}
